.hero {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.titleContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}
.title {
    margin: 20px 0;
    padding: 50px 0 0 0;
    >h1{
        font-size: 50px;
        font-weight: 500;
        margin: 0;
    }
    >h2 {
        font-size: 20px; 
        font-weight: lighter;
        margin: 0;
    }
}
.about {
    width: 90%;
    font-size: 16px;
    font-weight: 300;
    color: #2a2a2a;
}
.avatarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatarContainerRes{
    display: none;
}

@media (width <=1000px ){
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .avatarContainer{
        display: none;
    }
    .avatarContainerRes{
        display: flex;
        width: 30%;
        margin: 0;
        >img{
            width: 100%;
        }
    }
}