---
import TitleName from "../../components/TitleName.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Carmen Caballero Medina">
  <main>
    <header class="flex justify-end mr-[-5px]">
      <TitleName title="contact" />
    </header>
  </main>
</Layout>
