---
import TitleName from "../../components/TitleName.astro";
import ContactForm from "../../components/contactForm.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Carmen Caballero Medina">
  <main>
    <TitleName title="contact" />
    <section class="w-3/4 mx-auto">
      <p>Here you can contact me:</p>
      <div class="flex flex-col justify-start gap-10 mt-10">
        <a
          href="mailto:carmen30111999@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="w-fit px-4 py-2 rounded-full hover:text-customGreen transition duration-300 ease-in-out"
        >
          Email me
        </a>
        <a
          href="https://www.linkedin.com/in/carmencaballeromedina/"
          target="_blank"
          rel="noopener noreferrer"
          class="w-fit px-4 py-2 rounded-full hover:text-customGreen transition duration-300 ease-in-out"
          >Linkedin
        </a>
        <a
          href="/carmen_caballero_CV.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="w-fit px-4 py-2 rounded-full hover:text-customGreen transition duration-300 ease-in-out"
        >
          See my CV
        </a>
      </div>
      <ContactForm />
    </section>
  </main>
</Layout>
