---
import TitleName from "../components/TitleName.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Carmen Caballero Medina">
  <main class="w-full">
    <header class="flex justify-end mr-[-5px]">
      <TitleName title="about" />
    </header>
    <section class="w-[62rem] flex items-center mx-auto mt-20 gap-20">
      <div class="w-80 h-80 rounded-full bg-gray-300"></div>
      <article class="w-1/2">
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit quam magna,
          platea cum malesuada pellentesque orci neque senectus rhoncus sodales,
          potenti etiam class nostra eu eget nibh cubilia. Dignissim at varius
          cubilia sapien duis ad inceptos blandit in, netus porttitor hac diam
          aliquam eleifend nisi. Ante bibendum libero tellus egestas
          pellentesque praesent neque ornare mattis ac penatibus, proin orci
          fusce non etiam nulla mi quisque vestibulum
        </p>
      </article>
    </section>
  </main>
</Layout>
