<header class="w-full flex flex-col">
  <h1 class="text-[12px] m-5 text-customGreen">Carmen Caballero Medina</h1>
  <nav class="w-96 mx-auto py-4">
    <ul class="flex gap-6 font-extralight">
      <li class="hover:text-customGreen transition duration-300 ease-in-out">
        <a href="/">About</a>
      </li>
      <li class="hover:text-customGreen transition duration-300 ease-in-out">
        <a href="/projects">Projects</a>
      </li>
      <li class="hover:text-customGreen transition duration-300 ease-in-out">
        <a href="/career">Career</a>
      </li>
      <li class="hover:text-customGreen transition duration-300 ease-in-out">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
<script>
  const currentPage = window.location.pathname;

  const links = document.querySelectorAll("nav ul li a");

  links.forEach((link) => {
    const linkHref = link.getAttribute("href");

    if (linkHref === currentPage) {
      link.classList.add("text-customGreen");
    }
  });
</script>
