<header class="w-full flex flex-col">
  <h1 class="text-[12px] m-5">Carmen Caballero Medina</h1>
  <nav class="w-96 mx-auto py-4">
    <ul class="flex gap-6 font-extralight">
      <li><a href="/">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/career">Career</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
