---
import TitleName from "../../components/TitleName.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Carmen Caballero Medina">
  <main>
    <TitleName title="career" />
  </main>
</Layout>
